<!DOCTYPE html>
<html>
  <head>
    <title>AllergenApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Welcome to my recipe site © Paul 2018</span>
      </div>
    </footer>
  </body>
</html>
